@page "/Categorylist"

@inject ICategoryService CategoryService;
@inject NavigationManager NavManager;


@if (_categoryList == null)
{
    <p>Loading .... </p>
}
else
{
    <p>Token: @userToken</p>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th> Id</th>
                    <th>Name</th>
                    <th>Desc</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in _categoryList)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td> <button onclick="@(()=>GetDetail(category.Id))">Details </button></td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@code {
    List<CategoryModel> _categoryList;
    string userToken;

    protected override async Task OnInitializedAsync()
    {
        _categoryList = await CategoryService.GetAllAsync("Categories?PageIndex=0&PageSize=10");
        var userToken = await SecureStorage.GetAsync("UserToken");

    }
    private void GetDetail(Guid id)
    {
        NavManager.NavigateTo($"CategoryGetDetails/{id}");


    }

}